body{
    background-image:url('/static/bg.jpg');
    background-size:cover;
    font-family:sans-serif;
    direction:rtl;
    text-align:center;
    color:#fff;
    padding:2rem;
}
a{color:yellow;font-weight:bold}
.star{cursor:pointer;color:#ccc;font-size:20px}
